# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node (por si se agrega npm en el futuro)
node_modules/
npm-debug.log*
package-lock.json

# Archivos temporales
*.tmp
*.log
*.bak

# Variables de entorno
.env
.env.local
